In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset = pd.get_dummies(dataset, drop_first = 'True')

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
independent = dataset[['User ID', 'Age','EstimatedSalary',
       'Gender_Male']]
dependent = dataset[['Purchased']]

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
param_grid = {'kernel':['linear', 'poly', 'rbf', 'sigmoid'],
              'gamma':['scale', 'auto'],
             'C':[1,10,100,1000,2000,3000]}
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3, n_jobs = -1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

In [ ]:
print('best parameter{}'.format(grid.best_params_))

In [ ]:
re = grid.cv_results_
table = pd.DataFrame.from_dict(re)
table

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

from sklearn.ensemble import SVC

classifier = SVC(class_weight= 'balanced', criterion= 'entropy', max_features= 'sqrt', n_estimators= 100)
classifier.fit(x_train,y_train)

In [ ]:
y_pred = classifier.predict(x_test) 
y_pred

In [ ]:
from sklearn.metrics import classification_report
cf_report = classification_report(y_test,y_pred)
print(cf_report)